@model IEnumerable<_4_BusinessObjectModel.Models.Role>

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/Styles.css" rel="stylesheet" />
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RoleName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.RoleName)
    </td>
    <td>
    <td>
        <div class="outer">
            <div class="inner">
                <button type="button" class="btn btn-primary p-2" onclick="location.href='@Url.Action("Details", "Role", new { id = item.RoleID })'">Details</button>
            </div>
            <div class="inner">
                <button type="button" data-toggle="modal" data-target="#confirmModal" class="btn btn-primary p-2">
                    Delete
                </button>
            </div>
        </div>

        @using (Html.BeginForm("Delete", "Role", new { id = item.RoleID }))
        {
            @Html.AntiForgeryToken()
            @Html.Partial("_ConfirmPopup")
        }
    </td>
</tr>
}

</table>
